
.container-category {
    margin-top:4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.a-category {
    color: black;
    cursor: pointer;
}

.img-category {
    border: 3px solid #4EC993;
    border-radius: 50%;
    background-color: #EEEEEE;
    width: 60%;
    align-items: center;
}
.img-category:focus {
    border-bottom: 2px solid #4EC993;
    outline: none;
}

.img-category:hover {
    background-color:#4EC993;
}

.div-category {
    width: 15vw;
    height: max-content;
}

@media (min-width: 900px){   
    .img-category{
        width: 30%;
    }    

    .container-category {
        margin-top: 8px;
        
    }
}  