
.container-category {
    height: 15%;
    margin-top:4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.a-category {
    color: black;
    cursor: pointer;
}

.img-category {
    justify-content: space-between;
    border-radius: 50%;
    border-color: #4EC993;
    border-style: solid;
    background-color: #EEEEEE;
    width: 60%;
    align-items: center;
    margin-left: 5%;

    
}
.img-category:focus {
    border-bottom: 2px solid #4EC993;
    outline: none;
}

.img-category:hover {
    background-color:#4EC993;

}

@media (min-width: 900px){

    .container-category {
        margin-bottom: 10%;
    
    }
    
    .img-category{
        width: 40%;
    }

  /*   .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 30%;
        text-align: center;
        align-items: initial;
    }
    
    .grid-column-1 .item-1 {
        grid-column: 2;
    } 
     */
    
}  