body {
 background-color: #EEEEE0;
}

/* CSS PERFIL*/
.img-profile {
  border-radius: 50%;
  border: solid 2px #4FC993;
  margin-bottom: 18px;
}
.name-user {
  color: #3C9865;
  font-size: 4vw;
  font-weight: bold;
}
.name {
  display: inline-block;
  vertical-align: top;
}
.all-content {
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .content-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content {
    padding: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .content-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .border {
    display: none;
  }

  .all-content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .name {
    display: block;
  }
  .border {
    border-bottom: solid 1px #A8A99F;
  }
  .img-profile {
    width: 180px;
  }
  .border-desktop {
    border-bottom: solid 1px #A8A99F;
  }
}

.icon {
  color: #5D5D57;
  font-size: 20px;
  cursor: pointer;
}
.options {
  color:#5E5E57;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

/* FIM DO CSS DO PERFIL */
